{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    {% block header %}
        <div class="home-header">
            <img class="waves" src="{{ asset('build/images/waves.svg') }}" alt="yellow-waves"/>
            <div class="header-text">
                <div class="title">
                    <h1 class="start-title mb-0 mb-xl-5">Treeb<span class="end-title">'Z</span></h1>
                </div>
                <p class="sub-title mt-0">Le jeu de ma famille</br>100% personnalisable !</p>
            </div>
        </div>
    {% endblock %}
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header rule-title text" id="flush-headingOne">
                <button class="accordion-button collapsed rule-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                LES RÈGLES DU JEU
                </button>
            </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
    </div>
{% endblock %}
