<div class="">
    {{ form_start(form) }}
        <div class="row">
            {{ form_widget(form) }}
        </div>
        <div class="row d-flex justify-content-end">
            <button class="btn-secondary m-3">{{ button_label|default('Ajoutez') }}</button>
        </div>
    {{ form_end(form) }}
</div>
