<form method="post" action="{{ path('theme_delete', {'id': theme.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ theme.id) }}">
    <button class="btn btn-light">Supprimer</button>
</form>
