.memmber h2 {
    position: relative;
    z-index: 2;
    @include fluid-type($min_width, $max_width, $min_font2, $medium_font2);
  
  
    &:after {
        content: '';
        width: 25rem;
        max-width: 100%;
        padding: 0 10px;
        height: 20px;
        background: $primary;
        display: block;
        margin: auto;
        position: relative;
        top: -10px;
        z-index: -1;
    }
  }