{% extends "layout_admin.html.twig" %}
{% block stylesheets %}
    {{ encore_entry_link_tags('homeAdmin') }}
 {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center display-1">Treeb'Z Administrateur</h1>
        <div class="row mt-5">
            <div class="col-6 mt-3 mb-3 d-flex justify-content-center">
                <span class="iconify" data-icon="mdi:cards" data-inline="false"></span>
            </div>
            <div class="col-6 mt-3 mb-3 d-flex align-items-center">
                <h2><a class="display-3" href="">Thèmes</a></h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 mt-3 mb-3 d-flex justify-content-center">
                <span class="iconify" data-icon="carbon:user-profile-alt" data-inline="false"></span>
            </div>
            <div class="col-6 mt-3 mb-3 d-flex align-items-center">
                <h2><a class="display-3" href="">Clients</a></h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 mt-3 mb-3 d-flex justify-content-center">
                <span class="iconify" data-icon="ph:desktop-tower" data-inline="false"></span>
            </div>
            <div class="col-6 mt-3 mb-3 d-flex align-items-center">
                <h2><a class="display-3" href="">Commandes</a></h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}