{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('gamecreation') }}
{% endblock %}

{% block title %}
	Treeb'Z | Créer votre jeu
{% endblock %}
{% block body %}

	<header>
		<div class="jumbotron jumbotron-fluid mainTitle">
			<div>
				<h1 class="display-4 text-center py-5">
					Créez votre jeu de famille
				</h1>
			</div>
		</div>
	</header>

	<section>
		<div class="container-fluid">
			<div class="d-flex justify-content-around flex-row text-center mt-5">


				<div>

					<div class="stepContainer m-2">
						<span>
							Choisissez un nombre de membre de votre famille
						</span>
					</div>

					<div>
						<span>
							1
						</span>
					</div>

				</div>
 {# Inicio do outro step #}
				<div>

					<div class="stepContainer m-2">
						<span>
							Choisissez un nombre de membre de votre famille
						</span>
					</div>

					<div>
						<span>
							1
						</span>
					</div>

				</div>
 {# Inicio do outro step #}
				<div>

					<div class="stepContainer m-2">
						<p>
							Choisissez un nombre de membre de votre famille
						</p>
					</div>

					<div>
						<span>
							1
						</span>
					</div>

				</div>
 {# Inicio do outro step #}
				<div>

					<div class="stepContainer m-2">
						<p>
							Choisissez un nombre de membre de votre famille
						</p>
					</div>

					<div>
						<span>
							1
						</span>
					</div>

				</div>


			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}{% endblock %}
