@import 'function.scss';
@import 'variables.scss';
@import 'navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import "~bootstrap/scss/bootstrap";

$min_width: 320px;
$max_width: 1200px;
$medium_font: 25px;
$max_font: 72px;
$min_font: 12px;
$min_font2: 18px;
$medium_font2: 35px;

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $light;
    color: $dark;
    font-family: $font-text;
    position: relative;
    padding-bottom: 10%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

.titleDeco h2 {
    position: relative;
    z-index: 2;

    &:after {
        content: "";
        width: 30rem;
        max-width: 100%;
        padding: 0 10px;
        height: 20px;
        background: $primary;
        display: block;
        margin: auto;
        position: relative;
        top: -10px;
        z-index: -1;
    }
}

.titleDeco h1 {
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    &:after {
        content: "";
        width: 40rem;
        max-width: 100%;
        padding: 0 $space;
        height: $space-4;
        background: $primary;
        display: block;
        margin: auto;
        position: relative;
        top: -25px;
        z-index: -1;
    }
}

.btn-blue {
    background-color: $blue;
    border: none;
    padding: $space-2 $space-4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    color: $light;
    transition-duration: 0.1s;
    width: 18rem;

    &:hover {
        background-color: lighten($blue, 20%);
        color: $light;
    }
}

.btn-param {
    border: none;
    padding: $space-2 $space-4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    color: $dark;
    transition-duration: 0.1s;
    width: 18rem;

    &:hover {
        background-color: lighten($secondary, 20%);
        color: $light;
    }
}

.create-button {
    background-color: $secondary;
    color: $dark;
    font-weight: bold;
    margin-bottom: $medium_font * 2;
    margin-top: $medium_font * 2;
    width: $space-2 * 25;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: lighten($secondary, 10%);
        color: $dark;
    }
}

@media (max-width: 575px) {
    body {
        padding-bottom: 80%;
    }
}