@import 'variables.scss';

.row1 {
    height: 20%;
    background-color: $primary;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.bi {
    color: $light;
    width: 25%;
    height: auto;
    transition: 0.3s;
}

.bi:hover {
    color: lighten($dark, 10%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer h3 {
    color: $dark;
    transition: 0.3s;
    text-decoration: none;
}

footer h3:hover {
    color: lighten($light, 10%);
}
