@import "variables.scss";

/* Style of the header and steps block */

$bottom: 10px;
$card-width: 6.8cm;
$card-height: 8.6cm;

h1 {
    font-family: $font-title;
    position: relative;
    z-index: 2;
    color: $dark;
    text-transform: uppercase;

    &:after {
        content: "";
        width: 60%;
        padding: 0 10px;
        height: 30px;
        max-width: 100%;
        background: $primary;
        display: block;
        margin: auto;
        position: relative;
        top: -25px;
        z-index: -1;
    }
}

.buttonFont {
    font-size: 1em;
}

.mainTitle {
    height: 15rem;
    background-color: $secondary;
    z-index: 1;
}

.cardImage {
    height: 400px;
}

.grayTitle {
    color: $gray;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
}

.price {
    font-size: 1.4em;
}

/* Start Stepbar - Using: You need to apply the class "active" in the <li> you wish to display green in the stepbar */

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $gray-dark;
    letter-spacing: 1px;
    font-weight: bold;
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    content: counter(step);
    font-size: 2.5em;
    padding-top: $space;
    color: $primary;
    font-weight: bold;
    counter-increment: step;
    line-height: 30px;
    border: 3px solid $gray;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: $space;
    content: "";
    position: absolute;
    background-color: $gray;
    top: $space-3;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: $gray-dark;
    font-weight: bold;
    letter-spacing: 1px;
}

.progressbar li.active:before {
    border-color: $primary;
}

.progressbar li.active + li:after {
    background-color: $primary;
}

.create-button {
    background-color: $secondary;
    color: $dark;
}

/* End Stepbar */

/* 3rd page */

.chosenThemes {
    background-color: $secondary;
}

.viewThemes {
    background-color: $element;
}

.bgElement {
    background-color: $element;
}

.card-member {
    width: 20rem;
}

.iconeUpDownMember {
    height: 30px;
}

.cropper {
    position: relative;
    width: $card-width;
    height: $card-height;
    overflow: hidden;
}

.cropper:hover .theme_previz {
    z-index: -1;
}

.theme_previz {
    position: absolute;
    top:0;
    left:0; 
    opacity: 0.8;
    width: $card-width;
    height: $card-height;
}

.vich-image img {
    max-width: $card-width;
}
