@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

/* Style of the header and steps block */

h1 {
  font-family: $font-title;
  position: relative;
  z-index: 2;
  color: $dark;
  text-transform: uppercase;

  &:after {
    content: '';
    width: 60%;
    padding: 0 10px;
    height: 30px;
    max-width: 100%;
    background: $primary;
    display: block;
    margin: auto;
    position: relative;
    top: -25px;
    z-index: -1;
  }
}

.mainTitle {
  height: 15rem;
  background-color: $secondary;
  z-index: 1;
}

.stepContainer {
  height: 200px;
  width: 100%;
  max-width: 300px;
  min-width: 140px;
  background: url('../images/step_gamecreation.svg') no-repeat;
  background-size: 100%;

  span {
    font-size: 1.1rem;
  }
}

/* Style of the rest of the page */
