 $font-size-a: 35px;
 $width-logo: 300px;
 $width-cards-orders : 60px;

.img-logo {
    width: $width-logo;
}

.img-cards-orders {
    width: $width-cards-orders;
}

.section-navbar a {
    font-size: $font-size-a;
}

@media screen and (max-width: 1600px) {

    .section-navbar a {
        font-size: calc(#{$font-size-a}*0.8);
    }

    .img-cards-orders {
        width: calc(#{$width-cards-orders}*0.8);
    }
}


@media screen and (max-width: 1400px) {

    .section-navbar a {
        font-size: calc(#{$font-size-a}*0.65);
    }

    .img-logo {
        width: calc(#{$width-logo}*0.8);
    }

     .img-cards-orders {
        width: calc(#{$width-cards-orders}*0.7);
    }
}

@media screen and (max-width: 1250px) {
    .section-navbar a {
        font-size: calc(#{$font-size-a}*0.55);
    }

    .img-logo {
        width: calc(#{$width-logo}*0.6);
    }

    .img-cards-orders {
        width: calc(#{$width-cards-orders}*0.6);
    }
}

@media screen and (max-width: 1000px) {
    .section-navbar a {
        font-size: calc(#{$font-size-a}*0.45);
    }

    .img-logo {
        width: calc(#{$width-logo}*0.5);
    }

    .img-cards-orders {
        width: calc(#{$width-cards-orders}*0.5);
    }
}

@media screen and (max-width: 850px) {
    .orders-progress {
        display: none;
    }

    .section-navbar a {
        font-size: calc(#{$font-size-a}*0.35);
    }

    .img-logo {
        width: calc(#{$width-logo}*0.45);
    }

    .img-cards-orders {
        width: calc(#{$width-cards-orders}*0.5);
    }
}
