@import "variables.scss";

$size: 1cm;
$height-card: 8.6cm;
$width-card: 6.8cm;

.member-name {
    position: absolute;
    top: $size * 7.12;
    color: $dark;
    font-family: 'Chewy', cursive;
    width: $width-card * 0.7;
    text-align: center;
    font-size: $medium_font * 0.8;
    left: $size * 1.02;
}

.project-name {
    position: absolute;
    top: $size * 6;
    color: $dark;
    font-family: 'Chewy', cursive;
    width: $width-card * 0.7;
    text-align: center;
    font-size: $medium_font * 0.8;
    left: $size * 1.02;
}

.member-photo {
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    height: $height-card;
    width: $width-card;
}

.card-number {
    display: flex;
    justify-content: center;
    align-items: center;
    top: $size * 1.4;
    left: $size * 5.5;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: $dark solid 2px;
    color: $dark;
    height: $medium_font * 1.3;
    width: $medium_font * 1.3;
    text-align: center;
    font-size: $medium_font;
}

.theme {
    z-index: 0;
    position: relative;
    height: $height-card;
    width: $width-card;
    border: 1px solid $dark;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
}

.treebz-card {
    position: relative;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, $width-card);
}

.print-btn {
    height: $size * 1.6;
    width: $size * 5;
}