@import "variables.scss";
@import "app.scss";
@import "~bootstrap/scss/bootstrap";

$bottom: 10px;
$left: 160px;

.full-card {
    position: relative;
    z-index: 0;
}

.member-name {
    position: relative;
    bottom: $bottom * 20;
    color: $dark;
    font-family: 'Chewy', cursive;
}

.member-photo {
    position: relative;
    z-index: -1;
    bottom: $bottom * 23;
}

.card-number {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: $bottom * 24;
    margin-left: $left;
    z-index: 1;
    border-radius: 100%;
    border: $dark solid 2px;
    color: $dark;
    height: $medium_font * 1;
    width: $medium_font * 1;
    text-align: center;
}

.number {
    display: inline-block;
}

.column {
    border: 3px solid $dark;
}

.theme {
    border-top: 3px solid $dark;
    border-bottom: 3px solid $dark;
    height: 300px;
}

.all {
    height: 300px;
}

.photo {
    height: 150px;
    width: 200px;
}

h1 {
    font-family: $font-title;
    position: relative;
    z-index: 2;
    color: $dark;
    text-transform: uppercase;

    &:after {
        content: "";
        width: 60%;
        padding: 0 10px;
        height: 30px;
        max-width: 100%;
        background: $primary;
        display: block;
        margin: auto;
        position: relative;
        top: -25px;
        z-index: -1;
    }
}

.mainTitle {
    height: 15rem;
    background-color: $secondary;
    z-index: 1;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $gray-dark;
    letter-spacing: 1px;
    font-weight: bold;
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    content: counter(step);
    font-size: 2.5em;
    padding-top: $space;
    color: $primary;
    font-weight: bold;
    counter-increment: step;
    line-height: 30px;
    border: 3px solid $gray;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: $space;
    content: "";
    position: absolute;
    background-color: $gray;
    top: $space-3;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: $gray-dark;
    font-weight: bold;
    letter-spacing: 1px;
}

.progressbar li.active:before {
    border-color: $primary;
}

.progressbar li.active + li:after {
    background-color: $primary;
}

.viewThemes {
    background-color: $element;
}
