//Color Project
$blue: #0d6efd;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #ef7d4c;
$secondary: #febd58;
$success: #198754;
$danger: #bb2c3a;
$light: #f8f9fa;
$dark: #212529;

$font-title: 'Itim', cursive;
$font-text: 'Roboto', sans-serif;

$space: 8px;
$doubleSpace: 16px;
