$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$info: #0dcaf0;
$warning: #ffc107;
//
$blue: #0d6efd;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #EF7D4C;
$secondary: #FEBD58;
$success: #198754;
$danger: #bb2c3a;
$light: #f8f9fa;
$dark: #212529;

$font-title: 'Lemonada', cursive;
$font-text: 'Roboto';

$space: 8px;
$doubleSpace: 16px;