<section class="section-navbar">
    <nav class="navbar navbar-expand-md navbar-light bg-primary h5 mb-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="img-logo" src="{{ asset('build/images/logoTreebz.webp') }}" alt="logo Treebz"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="#">ACCUEIL Admin</a>
                    </li>
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="#">THEMES</a>
                    </li>
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="#">CLIENTS</a>
                    </li>
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="#">COMMANDES</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>