<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/treebz.png') }}"/>
        <title>
            {% block title %}Treeb'Z | PDF
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('pdf') }}
        {% endblock %}
    </head>
    <body>
        <div class="cards">
            {% for theme in command.selectedThemes %}
                {% for member in command.members %}
                    {% include 'component/_one_card_preview.html.twig' with {theme: theme, member: member} %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>