{% extends 'layout.html.twig' %}

{% block title %}Treeb'Z | Politique de Confidentialité
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gamerule') }}
{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle">
            <div class="container-fluid title-deco-policy">
                <h1 class="display-6 text-center py-md-4">
                    Politique de confidentialité des données
                </h1>
                <div class="text-center">
                    <p><span class="fw-bold mb-sm-4">Mise à jour :</span> Le 06 Novembre 2020</p>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <p class="my-5">
La protection de vos données personnelles est notre priorité. Nous travaillons en toute transparence avec tous nos utilisateurs.
En cas d’interrogations de votre part, vous pouvez nous contacter directement sur le mail :
contact.treebz@gmail.com en indiquant dans l’objet du mail : Politique de confidentialité des données.
            </p>
            <h2>1. Quelles sont les lois applicables ?</h2>
            <p>De nombreuses dispositions légales sont applicables dans le cadre de la politique de confidentialité. Il s’agit notamment de :
            </p>
            <ul>
                <li>La loi n°2004-575 du 21 juin 201 pour la confiance dans l’économie numérique ;</li>
                <li>La loi n°78-17 du 6 janvier 1978, relative à l’informatique, aux fichiers et libertés; modifiée par la loi n°2018-493
du 20 juin 2018 relative à la protection des données personnelles pour les questions de traitement de données à caractères personnels ;</li>
                <li>Le règlement européen 2016/679 du Parlement européen et du Conseil ou RGPD. Cette dernière constitue d’ailleurs la base des
formalités de traitement des données personnelles.</li>
            </ul>
            <h2>2. Quelles données sont concernées ?</h2>
            <p>Les données concernées par les dispositions relatives à la politique de confidentialités sont celles qualifiées par
l’Institut national des normes et de la technologie (INNT), d’informations personnelles identifiables, c’est-à-dire :
 « Toute information sur une personne gardée par une société permettant d’identifier une personne physique ou morale :
 nom et prénom ou dénomination sociale, numéro de sécurité sociale, date et lieu de naissance et les données biométriques.
 Cela peut également concerner toute autre information liée ou pouvant être directement liée à un individu.
 Il peut s’agir des données de santé, éducatives, financières et professionnelles. »
            </p>
            <p>Pour Treeb’Z, représentée par la SARL PROJET CO UP, dès lors que vous utilisez notre site en ligne : www.treebz.fr, nous sommes amenés à récupérer certaines données personnelles vous concernant afin d’utiliser nos services. A savoir : nom, prénom, adresse mail, téléphone, des photographies, des noms, prénoms ou surnoms de membres de votre famille, de cercle, d'ami(e)s ou de travail (collègues) que vous nous adresserez via nos formulaires ou via des échanges par mail, pour permettre l'édition de vos jeux de cartes de MA famille et 32 cartes revisitées. Ces données seront collectées de plusieurs façons :
            </p>
            <ul>
                <li>Via des formulaires, disponibles sur notre site www.treebz.fr ou adresser par mail;</li>
                <li>Via des mails (à l’initiative des utilisateurs de notre site www.treebz.fr ou à l’initiative de Treeb’Z);</li>
                <li>Via des contacts téléphoniques au besoin (à l’initiative des utilisateurs ou à l'initiative de Treeb’Z).</li>
            </ul>
            <h2>3. Identité et coordonnées de l’organisme et du responsable du traitement de données :</h2>
            <p>
                Treeb’Z - SARL PROJET CO UP<br>
                78 bis rue des Varennes - 45650 Saint Jean Le Blanc - France<br>
                RCS d’Orléans : 852 807 544<br>
                Mail : contact.treebz@gmail.com<br>
            </p>
            <h2>4. Le but de la collecte des données à caractère personnel : à quoi serviront les données collectées ?</h2>
            <p>Pour Treeb’Z, il nous est nécessaire de récolter ces données à caractère personnel afin d’exécuter
                le contrat conclu lorsque vous utilisez nos services. Vous êtes libre et avez le choix de nous fournir vos données personnelles, et ceux afin de réaliser de façon optimale le contrat.
                Nous nous soumettons à une obligation légale de collecte et de traitement.
            </p>
            <h2>5. Le but de la collecte des données à caractère personnel : à quoi serviront les données collectées ?</h2>
            <p>Pour Treeb’Z, il nous est nécessaire de récolter ces données à caractère personnel afin d’exécuter le contrat conclu lorsque vous utilisez nos services.
 Vous êtes libre et avez le choix de nous fournir vos données personnelles, et ceux afin de réaliser de façon optimale le contrat.
Nous nous soumettons à une obligation légale de collecte et de traitement.
            </p>
            <h3>L'importance de la collecte (collecte obligatoire) :</h3>
            <p>Afin de pouvoir réaliser le contrat qui nous lie, la collecte de données à caractère personnel est obligatoire pour Treeb’z. Sans cette collecte, la réalisation de notre contrat ne pourra être optimale voir tout simplement réalisée.
De plus, la collecte de données à caractère personnel, nous permet de réaliser d’autres missions et actions en respect des obligations légales et réglementaires :
            </p>
            <ul>
                <li>Constituer un fichier d’utilisateurs, d’inscrits et de prospects.</li>
                <li>Gérer votre accès à nos Services et leur utilisation.</li>
                <li>Élaborer et mesurer des statistiques commerciales et de fréquentation de notre site www.treebz.fr</li>
                <li>Personnaliser les réponses à vos demandes d’information.</li>
                <li>Envoi de communications, d'informations ou de prospections.</li>
                <li>Gérer des avis des personnes sur les Services ou le contenu de la Plateforme.</li>
            </ul>
            <p>Vous pouvez refuser de nous transmettre vos données à caractère obligatoire. Toutefois, nous vous analyserons et vous informerons des conséquences de ce refus sur nos services.
            </p>
            <h3>Les catégories de destinataires des données :</h3>
            <p>Les personnes suivantes seront susceptibles d’avoir accès à vos données à caractère personnel :
            </p>
            <ul>
                <li>Notre équipe;</li>
                <li>Les services et personnes chargés des contrôles;</li>
                <li>Nos sous-traitants (dont la liste est actuellement en cours de mise à jour et sera accessible sur notre site d’ici le 01/12/2020);</li>
                <li>Peuvent également être destinataires de vos données à caractère personnel les organismes publics, exclusivement pour répondre à nos obligations légales,
les auxiliaires de justice, les officiers ministériels et les organismes chargés d’effectuer le recouvrement de créances.</li>
            </ul>
            <p>Sachez que vos données à caractère personnel ne feront jamais l’objet de cessions, locations ou échanges au bénéfice de tiers.
            </p>
            <h3>Le délai de conservation des données et les conditions de suppression :</h3>
            <p>Les données à caractère personnel sont conservées pendant toute la durée nécessaire à l’exécution de notre mission, et pour une durée de :
            </p>
            <ul>
                <li>Sont conservées pour une durée de trois (3) ans minimum à compter de l’exercice du droit d’opposition concernant les informations permettant de prendre en compte votre droit.</li>
                <li>Sont conservées pour une durée de cinq (5) ans à compter de votre désinscription à notre site www.treebz.fr ou à notre newsletter,
                pour ce qui concerne le respect des obligations légales et réglementaires, ainsi que pour permettre d’établir la preuve d’un droit ou d’un contrat.</li>
                <li>Sont conservées pour une durée de douze (12) mois à compter de la réception d’un bulletin de parrainage.</li>
                <li>Sont conservées pour une durée de douze (13) mois concernant les cookies visés à l’article 6, intitulé Cookies.</li>
                <li>A compter de votre désinscription à nos services, toutes vos données deviendront anonymes.</li>
            </ul>
            <h2>6. Vos droits</h2>
            <h3>Quels sont vos droits sur vos données ?</h3>
            <p>Vous détenez différents droits quant au traitement et à la collecte de vos données à caractère personnel, à savoir :
            </p>
            <ul>
                <li>Le droit des personnes concernées, notamment le droit d’accès, de modification, de suppression et de limitation applicable pour tous traitements ;</li>
                <li>Vous garderez un droit de regard sur vos informations. Vous pouvez y accéder, les rectifier, demander leur modification et suppression et
                exercer votre droit à la limitation du traitement (cf article 18 du RGPD). Vous pourrez exercer ces droits à tout moment. Pour cela, vous pouvez nous contacter :</li>
                <li>- Par mail : contact.treebz@gmail.com (Objet du mail : service juridique) ;</li>
                <li>- Par courrier postal à l’adresse : Treeb’z - SARL Projet Co Up- 78 bis rue des Varennes 45650 Sant Jean Le Blanc - France</li>
            </ul>
            <p>Aussi, vous pouvez retirer votre consentement au traitement de vos données à tout moment ou vous opposer au traitement de vos données.
            Vous pouvez également exercer un droit à la portabilité sur vos données personnelles.
            </p>
            <p>Vous pouvez à tout instant, modifier ou révoquer vos directives:
            </p>
            <ul>
                <li>en adressant un mail à : contact.treebz@gmail.com
                </li>
                <li>ou en nous écrivant : Treeb’Z - SARL Projet Co Up, 78 bis rue des Varennes 45650 Saint Jean Le Blanc - FRANCE</li>
            </ul>
            <h3>Les droits de réclamation auprès de la CNIL :</h3>
            <p>Si après avoir contacté notre service juridique, vous constatez que vos droits « Informatiques et Libertés » ne sont pas respectés,
            vous pourrez adresser une réclamation à la Commission nationale de l’Informatique et des Libertés ou CNIL, 3 Places de Fontenoy, 75007 Paris.
            </p>
            <h2>7. Hébergement</h2>
            <p>Vos données sont conservées et stockées pendant toute la durée de leur traitement sur les serveurs d’OVH.
Elles sont également susceptibles d’être hébergées sur les serveurs de la société PAYPAL situés aux États-Unis.
Celles-ci ont adhéré au « Privacy Shield », qui a été jugé comme offrant un niveau de protection adéquat par une décision de la Commission Européenne du 12 juillet 2016
(Voir la décision d’adéquation). Pour en savoir plus sur la protection offerte par le « Privacy Shield », vous pouvez consulter son site internet.
            </p>
            <h2>8. Cookies</h2>
            <h3>Qu’est-ce qu’un cookie ?</h3>
            <p>Définition des cookies : Le cookie se définit comme un fichier enregistré par l’outil de navigation de la machine dans un espace de stockage dédié. Il est stocké au cours de la consultation d’un site web. Son enregistrement dans le disque dur ne donne aucunement lieu à la divulgation d’informations personnelles concernant l’internaute. Grâce à ce fichier texte, le site web peut identifier le terminal dans lequel il est déposé et mémoriser les informations nécessaires à son parcours.
Ce sont des fichiers uniques. Pour répondre à la question de comment savoir si un site utilise des cookies, il suffit d’ouvrir le site et un message d’avertissement apparaît. Cette fenêtre, aussi appelée pop up de cookies, permet aux internautes de consentir à l’utilisation de cookies à chaque visite sur la plateforme. Elle n’apparaît généralement qu’une seule fois.
            </p>
            <h3>Mode de fonctionnement des cookies</h3>
            <p>Les cookies n’identifient pas directement un utilisateur puisqu’ils ne contiennent ni nom ni prénom. Le navigateur du terminal s’en charge. Par ailleurs, le terme « cookies » peut désigner des technologies différentes, à l’instar des balises ou images numériques invisibles intégrées sur les pages web ou dans les courriels. En règle générale, la durée de vie d’un cookie est de treize mois au maximum après son enregistrement dans l’espace de stockage de la machine. Elle ne peut être prolongée au cours des nouvelles visites sur la plateforme.
Les plateformes en ligne récoltent les informations sur les internautes à l’aide de leur adresse IP et de leurs cookies. L’IP permet de déterminer d’où proviennent les visiteurs, qu’il s’agisse de la ville, de la région ou du pays. Pour assurer la régularité du mode de fonctionnement des cookies, la Commission nationale de l’informatique et des libertés ou CNIL a établi une loi aidant à renforcer la protection des visiteurs de sites web.
            </p>
            <h3>À quoi servent les cookies ?</h3>
            <p>
                À la base, les cookies servent à mémoriser des informations renseignées dans un formulaire rempli sur le site. Ces renseignements peuvent être le nom, l’adresse et le mot de passe de l’utilisateur. De cette manière, ce dernier n’aura plus à entrer ces informations lors de sa prochaine visite. Il reste le seul à pouvoir accéder au fichier cookie. Certains cookies peuvent stocker un panier d’achat, tandis que d’autres permettent d’enregistrer d’autres paramètres, telles que la langue du site ou la publicité ciblée.
Pour mieux appréhender l’utilité des cookies, il est nécessaire d’en distinguer les variantes, notamment les cookies :
            </p>
            <ul>
                <li>De mesure d’audience ;</li>
                <li>Techniques ;</li>
                <li>De publicité ;</li>
                <li>De partage.</li>
            </ul>
            <h4>Les cookies techniques :</h4>
            <p>Ce type de cookies permet aux internautes d’accéder à la plateforme tout en sécurisant leurs données personnelles. Ils sont essentiellement nécessaires à la navigation et s’avèrent indispensables pour les applications mobiles. Ils donnent accès à toutes les fonctionnalités du site ou de l’application et reconnaissent les utilisateurs à chacune de leurs visites. Ils aident à la mémorisation des mots de passe ainsi que des informations renseignées dans un formulaire rempli sur le site.
Les cookies techniques ont la particularité de sécuriser la navigation. À cet effet, ils peuvent par exemple demander aux visiteurs de se reconnecter à l’espace adhérent après une longue période d’inactivité. L’accès au site n’est toutefois pas conditionné par l’utilisation de cookies, ce qui veut dire qu’il est possible de supprimer les cookies tout en accédant à la plateforme.
Ces cookies ne durent pas longtemps. Ils peuvent être supprimés à travers les paramètres du navigateur. Dans ce cas, l’utilisateur risque de ne plus accéder au site, à l’application ou aux services de la plateforme web. Leur durée de vie peut se limiter à quelques heures ou à une année au maximum.
            </p>
            <h4>Les cookies de mesure d’audience :</h4>
            <p>Ces cookies analysent le taux de fréquentation des internautes et identifient les éventuels soucis de navigation. C’est grâce à eux que les plateformes en ligne peuvent améliorer la qualité de leurs services ainsi que leur accessibilité. Les cookies de mesure d’audience servent pratiquement à mesurer l’efficacité des actions commerciales.
Il est également possible de refuser l’utilisation de ces cookies. Leur durée de vie est limitée à treize mois.
            </p>
            <h4>Les cookies de publicité :</h4>
            <p>Les cookies publicitaires facilitent l’adaptation des supports publicitaires avec les centres d’intérêt des visiteurs. Ils leur donnent accès aux différentes publicités et liens sponsorisés du site en tenant compte du profil, du navigateur, de l’information recherchée et de la position géographique. Les contenus publicitaires peuvent être améliorés grâce au recours aux technologies des partenaires du site.
Grâce aux cookies publicitaires, les partenaires commerciaux de la plateforme orientent leurs visiteurs vers des liens sponsorisés ou des sites de publicité correspondant aux centres d’intérêt. La collecte d’informations s’effectue à l’aide des technologies fournies par les partenaires. Chaque page visitée contient des cookies, de manière à mesurer l’interaction avec chaque publicité ainsi que l’efficacité d’une campagne.
Par ailleurs, les cookies de publicité limitent le nombre de vues d’une même affiche publicitaire sur un même support.
            </p>
            <h4>Les cookies de partage :</h4>
            <p>Ces cookies de partage servent à optimiser l’interactivité sur les réseaux sociaux. Ils favorisent le partage de contenus et d’avis sur le site ou l’application. Ils s’affichent dès l’activation de certains paramètres, comme c’est le cas pour les boutons « j’aime » et « partager » sur Facebook et Twitter. Certains boutons permettent même d’identifier les utilisateurs, dès lors que ces derniers ne s’en sont pas servis lors de leur dernière visite.
            </p>
            <h2>9. Entrée en vigueur</h2>
            <p>La présente politique de confidentialité des données : protection, collecte et traitement, est entrée en vigueur le 06 Novembre 2020.
            </p>
            <h2>10. Modifications</h2>
            <p>La présente politique de confidentialité des données : traitement et collecte, peut-être modifiée à tout instant par nos soins. Dès lors, une mise à jour de cette dernière, sera accessible sur notre site internet : www.treebz.fr
 L’utilisation de notre site internet et la commande entraîne sa prise en compte et son acceptation par vos soins. Dans le cas, où vous ne seriez pas en accord avec cette dernière, vous ne pourrez utiliser nos services et notre site www.treebz.fr.
 Pour toute questions relatives à la présente politique de confidentialité de données : protection, collecte et traitement, merci de nous adresser un mail à : contact.treebz@gmail.com (objet : politique de confidentialité de données : traitement et collecte).
            </p>
            <p>Merci.</p>
        </div>
    </section>
{% endblock %}
