@import './assets/styles/variables.scss';

$font-size: 20pt;

.start-title {
    color: $light;  
    font-family: $font-text;
    font-size: $font-size * 4;
    font-weight: bold;
}

.end-title {
    color: $dark;
    font-family: $font-text;
    font-size: $font-size * 4;
    font-weight: bold;
}

.sub-title {
     color:$light;
     font-family: $font-text;
     font-size: $font-size * 1.4;
     margin-top: 1em;
}

.home-header {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: inline-block;
    position: relative;
}

.waves {
    width: 103%;
    margin-left: -10px;
}

.second-title {
    font-family: $font-title;
}

.home-header .header-text {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
}

@media screen and (max-width: 1000px) {
    .start-title {
        font-size: $font-size * 2;
    }

    .end-title {
        font-size: $font-size * 2;
    }

    .sub-title {
        font-size: $font-size * 0.9;
    }
}

@media screen and (max-width: 600px) {
    .start-title {
        font-size: $font-size;
    }

    .end-title {
        font-size: $font-size;
    }

    .sub-title {
        font-size: $font-size * 0.4;
    }
}