{% extends 'layout.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center m-5">
        <h1>Page inaccessible à cause d'un problème serveur</h1>
    </div>
    <div class="d-flex justify-content-center m-5 text-center">
        <p>
            La page que vous recherchez est inaccessible à cause d'un problème serveur.</br></br>
            <a href="{{ path('home') }}">Retournez à la page d'accueil</a>.
        </p>
    </div>
{% endblock %}