{% extends 'layout.html.twig' %}

{% block title %}Treebz | Mon Compte
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('userAccount') }}

{% endblock %}


{% block body %}
    <main class="container col col-lg-8">
        <header class="text-center text-uppercase">
            <div class="p-5 my-5 bg-secondary">
                <h1>Mon Compte</h1>
            </div>
        </header>

        <div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Nom :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Prénom :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Date de naissance :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Téléphone :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Adresse :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Code Postal  :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Ville :</span>
            </div>

            <div class="p-3">
                <span class="text-uppercase fw-bold fieldLabel">Adresse E-mail :</span>
            </div>


        </div>
    </main>
{% endblock %}
